.navbar-custom {
    background-color: #D7EBCF; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #333333; 
}

.navbar-custom .navbar-toggler-icon {
    background-color: #333333; 
}

.footer {
    background: #f25252;
    padding: 10px 0;
  }
  .footer a {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #ffffff;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: #eb9408 ;
  }


