/* Add this CSS to your stylesheet or within a <style> tag in the HTML file */
.btn:hover {
    background-color: #D7EBCF; /* Change this color to your desired hover color */
    color: #4F9EE8; /* Change this color to your desired text color on hover */
}
/* Add this CSS to your stylesheet or within a <style> tag in the HTML file */
.navbar-custom {
    background-color: #D7EBCF; /* Change this color to your desired navbar background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #333333; /* Change this color to your desired text color for links and brand */
}

.navbar-custom .navbar-toggler-icon {
    background-color: #333333; /* Change this color to your desired color for the toggler icon (if needed) */
}
/* Add this CSS to your stylesheet or within a <style> tag in the HTML file */
.containerx {
    height: 40vh;
}
